@layer theme {
  :root {
    --neutral: #ffffff;
    --primary: #ff7a00;
    --primary-deep: #e56700;
    --primary-mild: #ffa94d;
    --primary-subtle: #ff7a001a;

    --error: #ff4d4d;
    --error-subtle: #ff4d4d1a;

    --success: #10b981;
    --success-subtle: #05eb7624;

    --info: #3b82f6;
    --info-subtle: #3b82f61a;

    --warning: #f59e0b;
    --warning-subtle: #f59e0b1a;
  }

  .dark {
    --neutral: #0f0f0f;
    --primary: #ff8c1a;
    --primary-deep: #cc6e00;
    --primary-mild: #ffb366;
    --primary-subtle: #ff8c1a1a;

    --error: #ff5c5c;
    --error-subtle: #ff5c5c1a;

    --success: #22c55e;
    --success-subtle: #22c55e1a;

    --info: #60a5fa;
    --info-subtle: #60a5fa1a;

    --warning: #fbbf24;
    --warning-subtle: #fbbf241a;
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #ffa94d; /* primary-mild */
  transition: background 0.25s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff7a00; /* primary */
}
